[submodule "webapp"]
	path = webapp
	url = git@github.com:mlcheap/webapp.git
[submodule "backend"]
	path = backend
	url = git@github.com:mlcheap/backend.git
[submodule "ml-backend"]
	path = ml-backend
	url = https://github.com/mlcheap/ml-backend
[submodule "admin"]
	path = admin
	url = https://github.com/mlcheap/admin
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/mlcheap/dashboard
[submodule "ml_deep_learning"]
	path = ml_deep_learning
	url = https://github.com/mlcheap/ml_deep_learning
